<head>
  <link rel="stylesheet" href="style.css">
</head>
h2 {
  color: rgb(10,10,10);
  background-color: #DFDDDF;
	font-size: 20px;
	line-height: 1,8;
	letter-spacing: 1px;
	font-family: Helvetica;
}
